.button{
  
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  text-decoration: none;
  
}




.button_menu{
    
    float: right;
    width: 64px;
    height: 30px;
    
  color: #fff;
    
  
 background-color: #20639B;
}

.button_primary{
  
  
  width: 112px;
}

.button_primary:hover{
  background-color: #2D2D2D;
}



