h1{
  position: inherit;
  color: green;
}
.box{
 position: absolute;
 top: 3%;
 left: 80%;
 background-color: #a5a4a4;
 height: 40px;
 border-radius: 40px;
 padding: 10px;
}
.input_box {
 border: none;
 outline: none;
 background:none;
 float: left;
 padding: 0;
 color: #ffff;
 font-size: 16px;
 line-height: 40px;
 width: 100%;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
}

li {
  float: left;
  border-right:1px solid #bbb;
}


li a{
  display: block;
  color: white;
  padding: 4px 14px;
  text-decoration: inherit;
}


.sidenav {
  height: 100%;
  width: 210px;
  position: left;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #d4d6d6;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color:#090a0a;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

.active {
  background-color: gold;
  color: white;
}

.dropdown-content {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}


footer{
  background-color: #72726e;
  padding-top: 10px;
  color:white;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
